@charset "ISO-8859-1";

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}

button.acoes{
	width:30px;
	height:30px;
	padding:0px;
	border-radius: 5px;
}
button img{
	width:20px;
	height:20px;
	}
	
	