@charset "ISO-8859-1";

*{
	margin: 0px;
	padding:0px;
}

header#busca{
	height: 10vh;
	width: 100vw;
	font-family: cursive;
}

aside#menu{
	height: 80vh;
	width:20vw;
	float: left;
}

aside#menu a{
	text-decoration: none;
	color:black;
	font-family: cursive;
}

aside#menu li:hover{
	 background-color: #606060;
}


section#conteudo{
	height:80vh;
	width:78vw;
	float:right;
}

section div#formulario{
	padding-top:20px;
	font-family: cursive;
}

footer#rodape{
	height: 10vh;
	width: 100vw;
	clear:both;
}

footer#rodape p{
	text-align:center;
	font-family: cursive;
}
