<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
		<!-- Settings for a local PostgreSQL database. -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="connection.url">jdbc:postgresql://localhost:5432/matriculasdb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">POSTGRES</property>

        <!-- Print SQL to stdout, format it nicely  -->
        <property name="show_sql">true</property> 
        <property name="format_sql">true</property>

        <!-- Drop and then re-create schema on SessionFactory build, for testing  -->
        <property name="hbm2ddl.auto">update</property>

	<!-- Use the Hibernate built-in pool for tests. -->
        <property name="connection.pool_size">3</property>
		
	<!--*********** Mapeamento das classes/tabelas ...  ***********-->        
	<mapping class="br.com.matriculas.model.Pessoa"/>
	<mapping class="br.com.matriculas.model.Disciplina"/> 
	<mapping class="br.com.matriculas.model.Aluno"/> 
	<mapping class="br.com.matriculas.model.Endereco"/> 
	<mapping class="br.com.matriculas.model.Funcionario"/> 
	<mapping class="br.com.matriculas.model.Matricula"/> 
	<mapping class="br.com.matriculas.model.PeriodoLetivo"/> 
	<mapping class="br.com.matriculas.model.Professor"/> 
	<mapping class="br.com.matriculas.model.Responsavel"/>
	<mapping class="br.com.matriculas.model.Serie"/>
	<mapping class="br.com.matriculas.model.Turma"/>
	<mapping class="br.com.matriculas.model.Usuario"/>     
	
        
    </session-factory>

</hibernate-configuration>